@font-face {
  font-family: 'UniSansHeavy';
  src: url('../fonts/UniSansHeavy.eot?'), url('../fonts/UniSansHeavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansSemibold';
  src: url('../fonts/opensanssemibold.eot?'), url('../fonts/OpenSansSemibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/opensans-regular.eot?'), url('../fonts/OPENSANS-REGULAR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeBold';
  src: url('../fonts/SEGOEUIB.eot?'), url('../fonts/SEGOEUIB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe';
  src: url('../fonts/SEGOEUI.eot?'), url('../fonts/SEGOEUI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
