/*navbar*/
.dark-gray {
  color: #333333;
}
#file {
  display: none;
}
label[for="file"] {
  border-color: #333333;
  cursor: pointer;
  height: 30px;
  margin: 0;
  width: auto;
}
label[for="file"].button {
  padding: 3px 10px;
  font: bold 14px 'Open Sans', sans-serif;
}
.dark-blue {
  color: #162638;
}
.modal-dialog {
  min-width: 780px;
}
.modal-content {
  text-align: center;
  border-radius: 0;
  border: 3px solid #dbdbdb;
}
.modal-content .field {
  margin: 10px 0;
}
.modal-content .option {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #333333;
  padding: 10px 20px 10px 10px;
  background-color: #e0e0e0;
  font: bold 14px 'Open Sans', sans-serif;
  min-width: 200px;
  margin: 5px auto;
}
.modal-content .option .hide {
  display: none;
}
.modal-content .option.full-width {
  width: 100%;
}
.modal-content .option.half-width {
  margin-right: 2%;
  width: 45%;
}
.modal-content .option.half-width:nth-of-type(2n) {
  margin-right: 0;
}
.modal-content .option .exit {
  height: 20px;
  width: 20px;
}
.modal-content .fieldname,
.modal-content span {
  font: bold 14px/30px 'Open Sans', sans-serif;
  text-align: right;
  padding: 0 10px;
  display: block;
  width: 35%;
  float: left;
}
.modal-content .button {
  padding: 10px 15px;
}
.modal-content .input {
  float: left;
  width: 55%;
  display: block;
}
.modal-content .input input,
.modal-content .input textarea {
  display: block;
  width: 100%;
  font: 600 18px/30px 'Open Sans', sans-serif;
  color: #999;
}
.modal-content .input input::-webkit-input-placeholder,
.modal-content .input textarea::-webkit-input-placeholder {
  color: #999999;
  font: 600 18px 'Open Sans', sans-serif;
}
.modal-content .input input:-moz-placeholder,
.modal-content .input textarea:-moz-placeholder {
  color: #999999;
  font: 600 18px 'Open Sans', sans-serif;
}
.modal-content .input input::-moz-placeholder,
.modal-content .input textarea::-moz-placeholder {
  color: #999999;
  font: 600 18px 'Open Sans', sans-serif;
}
.modal-content .input input:-ms-input-placeholder,
.modal-content .input textarea:-ms-input-placeholder {
  color: #999999;
  font: 600 18px 'Open Sans', sans-serif;
}
.modal-content .input textarea {
  resize: vertical;
}
.modal-content .input span {
  text-align: center;
  width: 100%;
  margin: 10px auto;
}
.modal-content .modal-header {
  position: relative;
  border: none;
}
.modal-content .modal-header .close {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-image: url(../img/cross-black.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.modal-content .modal-header h4 {
  display: inline-block;
}
.modal-content hr {
  border-color: #dbdbdb;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 1;
  margin: auto;
}
.modal-content h4 {
  font: bold 24px 'Open Sans', sans-serif;
  position: relative;
  background-color: white;
  z-index: 2;
  padding: 10px;
}
input,
textarea {
  outline: none;
  padding: 0 10px;
  border: 2px solid #dfdfdf;
  line-height: 30px;
}
input:focus,
textarea:focus {
  border-color: rgba(250, 188, 0, 0.15);
}
a {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1025px;
}
body,
html {
  -webkit-font-smoothing: auto;
  min-width: 1000px;
  height: 100%;
  min-height: 660px;
}
body:before,
html:before,
body:after,
html:after {
  content: " ";
  display: table;
}
body:after,
html:after {
  clear: both;
}
#body {
  position: relative;
  overflow: auto;
  margin: 0;
  height: 100%;
  min-height: 660px;
  text-align: center;
}
section {
  text-align: center;
  position: relative;
  z-index: 2 ;
  min-height: 100%;
  background-color: #eaf1f9;
}
section#calc {
  z-index: 3;
}
section:not(#main, #contacts) {
  padding: 3vh 0;
}
section#main {
  min-height: 660px;
  height: 100%;
}
.main-navbar {
  float: left;
  min-height: 660px;
  position: relative;
  width: 22%;
  max-width: 280px;
  height: 100%;
  background-color: #003333;
}
hr {
  border: none;
  width: 82%;
  margin: 10px auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
nav {
  padding-left: 14%;
  margin-bottom: 20px;
}
nav:before,
nav:after {
  content: " ";
  display: table;
}
nav:after {
  clear: both;
}
nav .nav.nav-pills.nav-stacked {
  display: block;
  width: auto;
  float: none;
  margin: 0;
  padding: 0;
}
nav .nav.nav-pills.nav-stacked li {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin: 3px 0;
  color: #fff;
  display: block;
  font: bold 21px 'Raleway', 'calibri';
}
nav .nav.nav-pills.nav-stacked li a {
  text-transform: uppercase;
  border-radius: 0;
  color: white;
}
nav .nav.nav-pills.nav-stacked li a:hover {
  background-color: transparent;
}
nav .nav.nav-pills.nav-stacked li.active {
  color: #fabc00;
  padding-left: 20px;
  background-color: transparent;
}
nav .nav.nav-pills.nav-stacked li.active a {
  color: #fabc00;
  background-color: transparent;
}
@media (min-height: 900px) {
  nav .nav.nav-pills.nav-stacked li {
    font-size: 25px;
    margin: 30px 0;
  }
}
nav .nav.nav-pills.nav-stacked li:hover {
  color: white;
}
nav .nav.nav-pills.nav-stacked li:last-of-type {
  margin-bottom: 20px;
}
nav .nav.nav-pills.nav-stacked li:first-of-type {
  margin-top: 20px;
}
.lang {
  padding-left: 14%;
  margin: 27px 0;
}
.lang:before,
.lang:after {
  content: " ";
  display: table;
}
.lang:after {
  clear: both;
}
.lang a {
  padding: 3px;
  font: bold 12px/17px 'Raleway', 'calibri';
  margin-right: 13px;
  color: rgba(255, 255, 255, 0.3);
  float: left;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: block;
}
.lang a.selected {
  color: #fff;
}
.logo {
  font: 900 36px/70px 'Raleway', 'calibri';
  color: #fff;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  display: block;
  padding: 37px 8px 23px;
  text-align: center;
}
.logo:hover {
  text-shadow: 0 2px 40px rgba(255, 255, 255, 0.7);
  color: white;
}
@media (min-height: 900px) {
  .logo {
    padding: 55px 10px;
    font-size: 40px;
  }
}
.socials {
  position: absolute;
  margin: auto;
  left: 0;
  bottom: 20px;
  right: 0;
  width: 100px;
}
.socials:before,
.socials:after {
  content: " ";
  display: table;
}
.socials:after {
  clear: both;
}
.socials a {
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 30px;
  height: 35px;
  float: left;
  margin: 0 10px;
  display: block;
}
.socials a:hover {
  background-position: center top;
}
#fb {
  background-image: url(../img/fb-ico.png);
}
#vk {
  background-image: url(../img/vk-ico.png);
}
.upper {
  text-transform: uppercase;
}
/*section*/
div.red {
  background-color: rgba(143, 58, 74, 0.75);
  height: 51%;
  position: relative;
}
div.blue {
  background-color: rgba(4, 61, 93, 0.75);
  padding: 7vh 0 6vh;
  height: 49%;
}
#main {
  background: url(../img/main-bg.png) 50% 50% no-repeat;
  background-size: cover;
}
.services {
  margin: 3vh auto;
}
.service {
  text-align: center;
}
.service img {
  height: 64px;
  margin-bottom: 11px;
}
@media (min-height: 900px) {
  .service img {
    height: 100px;
  }
}
.service .about {
  display: block;
  margin: 17px auto;
  color: white;
  width: 75%;
  text-align: center;
  font: 15px/15px 'Raleway', 'calibri';
}
.callback {
  margin-bottom: 15vh;
  border: 1px solid #fff;
}
.button {
  border: 3px solid transparent;
  padding: 15px 10px;
  width: 34%;
  display: block;
  outline: none;
  margin: 5vh auto 0;
  max-width: 250px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #0b0b0b;
  font: 900 19px 'Raleway', 'calibri';
  position: relative;
}
.button:focus {
  color: #0b0b0b;
  box-shadow: none;
  outline: none;
}
.button.transparent {
  background-color: transparent;
}
.button.border-gray {
  border-color: #bdc4cb;
}
.button:hover {
  color: #0b0b0b;
}
.button:active {
  background-color: white;
}
.button:active:not(.shadow) {
  -webkit-transform: translate3d(-2px, 2px, 0);
  transform: translate3d(-2px, 2px, 0);
  box-shadow: none;
}
.button.shadow {
  width: 250px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 3vh;
}
.button.shadow:after {
  display: block;
  content: '';
  left: 1px;
  top: 5px;
  position: absolute;
  width: 400px;
  height: 100px;
  background: url(../img/button-shadow.png) no-repeat;
}
.yellow {
  background-color: #fabc00;
  border: 3px solid #fabc00;
}
.yellow:not(.transparent) {
  box-shadow: 2px 2px 1px #ab6603;
}
button {
  border: none;
  cursor: pointer;
  outline: none;
}
h1 {
  text-align: center;
  margin: 2vh auto 4vh;
  color: white;
  font: bold 47px/43px 'Raleway', 'calibri';
}
h2 {
  color: #fff;
  text-align: center;
  font: bold 41px/43px 'Raleway', 'calibri';
}
h3 {
  color: #fff;
  padding-bottom: 5%;
  text-align: center;
  font: 400 32px/37px 'Raleway', 'calibri';
}
h6 {
  font: bold 20px/18px 'Raleway', 'calibri';
  color: white;
  margin: 0;
}
.underline {
  display: inline-block;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
.checkboxes input[type="checkbox"]:nth-of-type(1):checked ~ .checkbox:nth-of-type(1) {
  background-color: #fabc00;
}
.checkboxes input[type="checkbox"]:nth-of-type(1):checked ~ .checkbox:nth-of-type(1):after {
  border-color: #ffd147;
  background: url(../img/select.png) 50% 50% no-repeat, #ffffff;
  background-size: contain;
}
.checkboxes input[type="checkbox"]:nth-of-type(2):checked ~ .checkbox:nth-of-type(2) {
  background-color: #fabc00;
}
.checkboxes input[type="checkbox"]:nth-of-type(2):checked ~ .checkbox:nth-of-type(2):after {
  border-color: #ffd147;
  background: url(../img/select.png) 50% 50% no-repeat, #ffffff;
  background-size: contain;
}
.checkboxes input[type="checkbox"]:nth-of-type(3):checked ~ .checkbox:nth-of-type(3) {
  background-color: #fabc00;
}
.checkboxes input[type="checkbox"]:nth-of-type(3):checked ~ .checkbox:nth-of-type(3):after {
  border-color: #ffd147;
  background: url(../img/select.png) 50% 50% no-repeat, #ffffff;
  background-size: contain;
}
input[type="checkbox"] {
  display: none;
}
.checkbox,
.option {
  display: block;
  font: 700 24px/19px 'Open Sans', sans-serif;
  color: white;
  position: relative;
  min-width: 290px;
  text-align: left;
  padding: 21px;
}
.option {
  background-color: #076da6;
  margin: 10px 25px 10px 15px;
  padding-right: 70px;
  padding-left: 30px;
  float: right;
}
.option.active {
  background-color: #043d5d;
  width: 100%;
}
.option .exit {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 22%;
  background: url(../img/cross.png) no-repeat;
  background-size: contain;
  right: 20px;
  cursor: pointer;
}
.option .exit:hover {
  opacity: .7;
}
.checkbox {
  padding: 21px 10px 21px 70px;
  margin: 10px 15px 10px 25px;
  cursor: pointer;
  background-color: #ffd147;
}
.checkbox:after {
  width: 30px;
  height: 30px;
  content: '';
  top: 20%;
  position: absolute;
  border: 4px solid white;
  left: 20px;
}
.black {
  color: #003333;
}
.blue {
  color: #043d5d;
}
.row {
  overflow: hidden;
}
h4 {
  margin-top: 4vh;
  font: 700 42px 'Open Sans', sans-serif;
}
hr.vertical {
  width: 0;
  display: block;
  height: 350px;
  margin: auto;
  border: none;
  border-right: 3px solid rgba(22, 38, 56, 0.25);
}
.info {
  margin: 5vh auto;
}
.info span {
  color: #333333;
  font: bold 30px 'Open Sans', sans-serif;
}
.info .arrow {
  width: 485px;
  height: 65px;
  background: url(../img/arrow.png) no-repeat;
  background-size: contain;
  margin: auto;
}
#portfolio {
  height: auto;
}
#portfolio .button {
  margin-top: 3vh;
}
.sort {
  margin: 3vh auto 2vh;
  display: block;
  font: 700 18px 'Raleway', 'calibri';
}
.select {
  margin: 0 auto 2vh;
  position: relative;
  overflow: hidden;
  width: 230px;
  height: 40px;
  background: url(../img/select-arrow.png) 90% 50% no-repeat, #adc9d9;
}
.select select {
  -webkit-appearance: none;
  appearance: none;
  width: 260px;
  height: 40px;
  position: relative;
  display: block;
  background: transparent;
  border: none;
  outline: none;
  z-index: 1;
  font: 14px Arial, sans-serif;
  pading: 10px 5px;
}
div.site {
  margin: 3vh auto;
}
div.site h6,
div.site span,
div.site img {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: 1;
  position: relative;
}
div.site img {
  z-index: 2;
}
div.site .info {
  display: block;
  margin: auto;
  font: 18px Arial, sans-serif;
}
div.site:hover img {
  -webkit-transform: scale(1.25, 1.35);
  -ms-transform: scale(1.25, 1.35);
  -o-transform: scale(1.25, 1.35);
  transform: scale(1.25, 1.35);
}
div.site img {
  width: 70%;
  max-width: 300px;
  margin: 5px auto;
}
#about {
  height: auto;
}
#about h4 + span {
  font: 30px 'Raleway', 'calibri';
  margin-bottom: 4vh;
  display: block;
}
.feedback {
  margin: 35px auto 9vh;
  max-width: 480px;
  min-width: 400px;
  border: 2px solid #fabc00;
  background-color: white;
  position: relative;
  z-index: 2;
}
.feedback .feedback-wrapper {
  margin: 10px auto;
}
.feedback:before,
.feedback:after {
  content: '';
  display: block;
  border: solid;
  border-width: 0 30px 30px;
  position: absolute;
  left: 20px;
  top: -28px;
}
.feedback:after {
  border-color: #fabc00 transparent;
  z-index: 1;
  top: -31px;
  left: 19px;
  border-width: 0 31px 31px;
}
.feedback:before {
  border-color: white transparent;
  z-index: 2;
}
.feedback .name {
  font: bold 30px Arial, serif;
  margin: 0;
}
.feedback a {
  color: #404040;
}
.feedback span {
  text-align: left;
  display: block;
  color: #404040;
  margin: 10px 0;
  font: bold 18px Arial, sans-serif;
}
.feedback .info {
  padding: 10px;
  text-align: left;
  width: 70%;
  margin: 0;
}
.feedback .photo {
  padding: 10px;
  width: 30%;
}
.feedback .photo img {
  width: 100%;
}
p {
  font: 18px 'Raleway', 'calibri';
}
#blog h4 + span {
  display: block;
  font: bold 30px 'Raleway', 'calibri';
  margin: 3vh auto;
}
.blog-category {
  display: block;
}
.blog-category.ui .img {
  background-image: url(../img/blog/ui-design.png);
}
.blog-category.ui .img:hover {
  background-image: url(../img/blog/ui-design-hover.png);
}
.blog-category.seo .img {
  background-image: url(../img/blog/seo.png);
}
.blog-category.seo .img:hover {
  background-image: url(../img/blog/seo-hover.png);
}
.blog-category.html .img {
  background-image: url(../img/blog/html.png);
}
.blog-category.html .img:hover {
  background-image: url(../img/blog/html-hover.png);
}
.blog-category.marketing .img {
  background-image: url(../img/blog/marketing.png);
}
.blog-category.marketing .img:hover {
  background-image: url(../img/blog/marketing-hover.png);
}
.blog-category.programming .img {
  background-image: url(../img/blog/programming.png);
}
.blog-category.programming .img:hover {
  background-image: url(../img/blog/programming-hover.png);
}
.blog-category span {
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font: bold 24px 'Raleway', 'calibri';
  color: #043d5d;
  border-color: rgba(4, 61, 93, 0.5);
}
.blog-category span:hover {
  color: #fabc00;
  border-color: rgba(250, 188, 0, 0.5);
}
.blog-category .img {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  height: 200px;
  display: block;
  background: 50% 50% no-repeat;
  background-size: 128px auto;
}
/*contacts*/
#contacts {
  height: auto;
  position: relative;
  padding-bottom: 0;
}
#contacts .container {
  position: relative;
  z-index: 4;
  box-shadow: 0 5px 9px #eaf1f9;
}
#contacts input {
  height: 40px;
  width: 220px;
  color: #666666;
  font: 'Raleway', 'calibri';
}
#contacts input::-webkit-input-placeholder {
  color: #666666, 0.56666667px;
  font: 'Raleway', 'calibri';
}
#contacts input:-moz-placeholder {
  color: #666666, 0.56666667px;
  font: 'Raleway', 'calibri';
}
#contacts input::-moz-placeholder {
  color: #666666, 0.56666667px;
  font: 'Raleway', 'calibri';
}
#contacts input:-ms-input-placeholder {
  color: #666666, 0.56666667px;
  font: 'Raleway', 'calibri';
}
#contacts form span {
  font: 18px 'Raleway', 'calibri';
}
#contacts h4 {
  font: bold 42px 'Raleway', 'calibri';
  color: black;
  margin: 4vh auto 2vh;
}
#contacts h6 {
  margin: 4vh auto 2vh;
}
#contacts hr {
  border-color: rgba(0, 51, 51, 0.3);
}
#contacts button {
  margin: 5vh auto 4vh;
}
.map {
  overflow: hidden;
  height: 25%;
  background-color: transparent;
  bottom: 0;
  position: relative;
  z-index: 3;
  min-height: 200px;
  width: 100%;
}
.map img {
  width: 100%;
}
address {
  text-align: center;
}
address div {
  display: inline-block;
  font: 17px 'Raleway', 'calibri';
  color: black;
  margin: 0 20px;
}
address div span {
  font: 24px 'Raleway', 'calibri';
  color: black;
}
